{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm, {'name': ''}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.firstName, { 'id': 'firstName' }) }}
        {{ form_row(registrationForm.lastName, { 'id': 'lastName' }) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
